  .app {
    display: flex;
    font-weight: 300;
    padding: 50px;
  }
  .app .left-col {
    flex: 50%;
  }
  .app .right-col {
    flex: 50%;
  }
  .app .paper {
    padding: 40px 30px;
    font-family: 'Cormorant Garamond', serif;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;    
  }

  .app .form {
    margin: 20px 0px 50px 0;
  }
