body, html, #root, .App {
  height: 100%;
}




.App {
}

.definition {
  font-style: italic;
  font-size: 16px;
}

.phonemic {
  font-weight: 800;
  font-family: monospace;
  margin-right: 15px;
}

.left-lined-header {
  margin: 0 5% 0 10%;
}

.page-header {
  width: fit-content;
  padding-top: 100px;
}
